<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to the Home Page!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla hic dolores distinctio tempore odit magni
        autem ipsum provident quaerat cupiditate odio soluta vitae saepe at officia, voluptates illo possimus. </p>
</body>

</html>